*.out
*.test
*.xml
*.swp
fmt.log
lint.log
cover.html
.envrc
.idea/
.tmp/
.mkdocs-virtual-env/
vendor/
jaeger-ui-build/
examples/hotrod/hotrod
cmd/standalone/standalone-linux
cmd/agent/agent
cmd/agent/agent-linux
cmd/agent/agent-windows
cmd/agent/agent-darwin
cmd/collector/collector
cmd/collector/collector-linux
cmd/collector/collector-windows
cmd/collector/collector-darwin
cmd/query/query
cmd/query/query-linux
cmd/query/query-windows
cmd/query/query-darwin
cmd/query/jaeger-ui-build/
crossdock/crossdock-linux
run-crossdock.log
plugin/storage/aliyunlog/spanstore/local_reader_test.go
docker-compose/.env
.DS_Store
local_SPL.txt
README.LOCAL.md
cmd.local
docker.local
.env.bak
jaeger-*-darwin-amd64.tar.gz
jaeger-*-darwin-amd64/
jaeger-*-linux-amd64.tar.gz
jaeger-*-linux-amd64/
jaeger-*-windows-amd64.tar.gz
jaeger-*-windows-amd64/
